<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Fee-Management-System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>main.html</welcome-file>
    <welcome-file>Coursetb.jsp</welcome-file>
    <welcome-file>Course.jsp</welcome-file>
    <welcome-file>editcourse.jsp</welcome-file>
    <welcome-file>updateprocess.jsp</welcome-file>
    <welcome-file>deletecourse.jsp</welcome-file>
    <welcome-file>Adminedit.jsp</welcome-file>
    <welcome-file>Adminsignup.html</welcome-file>
    <welcome-file>Studenttb.jsp</welcome-file>
    <welcome-file>Student form.html</welcome-file>
    <welcome-file>editstudent.jsp</welcome-file>
    <welcome-file>studentupdate.jsp</welcome-file>
    <welcome-file>deletestudent.jsp</welcome-file>
    <welcome-file>Fee.jsp</welcome-file>
    <welcome-file>Takefee.jsp</welcome-file>
    <welcome-file>FeeReport.jsp</welcome-file>
    <welcome-file>FeeReceipt.jsp</welcome-file>
    <welcome-file>ForgetPassword.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>forget-process.jsp</welcome-file>
    <welcome-file>NDashboard.jsp</welcome-file>
    <welcome-file>ForgotPasswordAct.jsp</welcome-file>
    <welcome-file>pay.jsp</welcome-file>
    <welcome-file>paylogin.html</welcome-file>
    <welcome-file>Payment.jsp</welcome-file>
    <welcome-file>DueList.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>Servlet.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DB</display-name>
    <servlet-name>DB</servlet-name>
    <servlet-class>dao.DB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DB</servlet-name>
    <url-pattern>/DB</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AccountantDao</display-name>
    <servlet-name>AccountantDao</servlet-name>
    <servlet-class>dao.AccountantDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountantDao</servlet-name>
    <url-pattern>/AccountantDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AccountantBean</display-name>
    <servlet-name>AccountantBean</servlet-name>
    <servlet-class>beans.AccountantBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountantBean</servlet-name>
    <url-pattern>/AccountantBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddCourse</display-name>
    <servlet-name>AddCourse</servlet-name>
    <servlet-class>Servlet.AddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourse</servlet-name>
    <url-pattern>/AddCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Studentform</display-name>
    <servlet-name>Studentform</servlet-name>
    <servlet-class>Servlet.Studentform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Studentform</servlet-name>
    <url-pattern>/Studentform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDao</display-name>
    <servlet-name>CourseDao</servlet-name>
    <servlet-class>dao.CourseDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDao</servlet-name>
    <url-pattern>/CourseDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseBean</display-name>
    <servlet-name>CourseBean</servlet-name>
    <servlet-class>beans.CourseBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseBean</servlet-name>
    <url-pattern>/CourseBean</url-pattern>
  </servlet-mapping>
  <servlet>
 
    <display-name>StudentBean</display-name>
    <servlet-name>StudentBean</servlet-name>
    <servlet-class>beans.StudentBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentBean</servlet-name>
    <url-pattern>/StudentBean</url-pattern>
  </servlet-mapping>
  <servlet>
 
    <display-name>StudentDao</display-name>
    <servlet-name>StudentDao</servlet-name>
    <servlet-class>dao.StudentDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDao</servlet-name>
    <url-pattern>/StudentDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TakeFee</display-name>
    <servlet-name>TakeFee</servlet-name>
    <servlet-class>Servlet.TakeFee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TakeFee</servlet-name>
    <url-pattern>/TakeFee</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <display-name>FeeDao</display-name>
    <servlet-name>FeeDao</servlet-name>
    <servlet-class>dao.FeeDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeeDao</servlet-name>
    <url-pattern>/FeeDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>FeeBean</display-name>
    <servlet-name>FeeBean</servlet-name>
    <servlet-class>beans.FeeBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeeBean</servlet-name>
    <url-pattern>/FeeBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AdminBean</display-name>
    <servlet-name>AdminBean</servlet-name>
    <servlet-class>Servlet.AdminBean</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminBean</servlet-name>
    <url-pattern>/AdminBean</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AdminDao</display-name>
    <servlet-name>AdminDao</servlet-name>
    <servlet-class>Servlet.AdminDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDao</servlet-name>
    <url-pattern>/AdminDao</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>Servlet.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <display-name>Paylogin</display-name>
    <servlet-name>Paylogin</servlet-name>
    <servlet-class>Servlet.Paylogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paylogin</servlet-name>
    <url-pattern>/Paylogin</url-pattern>
  </servlet-mapping>
  <servlet>

    <display-name>Updateadmin</display-name>
    <servlet-name>Updateadmin</servlet-name>
    <servlet-class>Servlet.Updateadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updateadmin</servlet-name>
    <url-pattern>/Updateadmin</url-pattern>
  </servlet-mapping>
</web-app>